<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Création d'un nouveau membre</title>
        <link th:href="@{../../bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <script th:src="@{../../jquery/jquery.min.js}"></script>  
        <script th:src="@{../../popper/popper.min.js}"></script>  
        <script th:src="@{../../bootstrap/js/bootstrap.min.js}"></script>  
    </head>
    <body>
        <form action="#" th:object="${member}" method="post" role="form">
            
            <label th:text="firstname" for="name"/>
            <input id="name" type="text" th:field="*{firstname}"/><br>
            
            <label th:text="lastname" for="lastname"/>
            <input id="lastname" type="text" th:field="*{lastname}"/><br>
            
            <label th:text="email" for="email"/>
            <input id="email" type="text" th:field="*{email}"/><br>
            
            <label th:text="team" for="team"/>
            <!-- Un selecteur est ajouté -->
            <!-- Il affecte le champ team de membre -->
            <select th:field="*{team}" id="team">
                <!-- Un choix "vide" et une liste de catégories -->
                <option th:value="null" th:text="Vide"/>
                <option th:each="team : ${teams}"
                        th:value="${team.id}"
                        th:text="${team.name}"/>
                <!-- Notez le .id -->
            </select>
            <br>
            <button th:text="Valider" type="submit"/>
        </form>
    </body>
</html>
