<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nouveau modèle</title>
        <link th:href="@{../../../bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <script th:src="@{../../../jquery/jquery.min.js}"></script>  
        <script th:src="@{../../../popper/popper.min.js}"></script>  
        <script th:src="@{../../../bootstrap/js/bootstrap.min.js}"></script>  
    </head>
    <body>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a href="list"><button type="button" class="btn btn-primary">Retour</button></a>
                    </li>
                </ul>
            </div>
        </div>
        <h4 class="text-center m-3">Création d'un nouveau modèle</h4><br>
        <div class="container">
            <div class="row">
                <form action="#" method="post" th:object="${modelDemand}" class="col-md-12">
                    <div class="form-row">
                        <div class="col">
                            <label class="h6">Titre du modèle : </label><input th:field="*{title}" type="text" class="form-control" placeholder="Titre" maxlength="28">
                        </div>
                        <div class="col">
                            <label class="h6">Localisation : </label>
                            <input th:field="*{location}" type="text" class="form-control" placeholder="Adresse" maxlength="46">
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col">
                            <label class="h6">Niveau de priorité : </label>
                            <div class="form-check form-check-inline ml-2">
                                <input th:field="*{priority}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" checked="checked">
                                <label class="form-check-label" for="inlineRadio1">Faible</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input th:field="*{priority}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">Moyen</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input th:field="*{priority}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">élevé</label>
                            </div>
                        </div>
                        <div class="col">
                            <label class="h6">Type : </label>
                            <div class="form-check form-check-inline ml-2">
                                <input th:field="*{type}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" checked="checked">
                                <label class="form-check-label" for="inlineRadio1">Service</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input th:field="*{type}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">Incident</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Domaine</label>
                                </div>
                                <select th:field="*{domain}" class="custom-select" id="inputGroupSelect01">
                                    <option th:each="domain : ${domains}"
                                            th:value="${domain.id}"
                                            th:text="${domain.name}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <button type="submit" class="btn btn-block btn-primary mx-auto">Valider</button>
                    </div>
                </form>
            </div>  
        </div>
    </body>
</html>
